header{
    background-color: #016ea7;
    display: flex;
    z-index: 15;
    position: relative;
}

.menu{
    transition: all .3s;
    font-size: 1.25rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: .5rem;
    border-radius: .25rem .25rem 0 0;
    color: #fff;
}

.menu_services_reserve{
    display: flex;
    align-items: baseline;
    gap: .35rem;
    cursor: pointer;
    color: #fff;
    font-size: .875rem;
    font-weight: 400;
}
